 .form {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 20px;
     height: 300px;
 }

 .username,
 .password {
     width: 300px;
     height: 25px;
     border: 1px solid rgba(0, 0, 0, 0.2);
 }

 .login,
 .userbutton {
     width: 150px;
     height: 50px;
     margin-top: 10px;
     cursor: pointer;
     font-size: 15px;
     background: #a9a9a9;
     border: 1px solid #000000;
     color: #fff;
     margin: 5px;
     padding: 10px 20px;
 }

 .login:hover,
 .userbutton:hover {
     background: #eaeaea;
     color: #000;
 }

 .button-container {
     display: flex;
     justify-content: center;
 }

 .login-form {
     background-color: white;
     padding: 2rem;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .input-container {
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin: 10px;
 }

 .logout {
     height: 25px;
     background: none;
     line-height: 1;
     float: right;
     margin-right: 10px;
 }